body {
    color: white;
    background-color: #1c1c1c;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
    margin: 0 0 0 0;
}

table, th, td {
    width: 100%;
    border: 1px solid white;
    border-collapse: collapse;
}

.Colum1 {
    width: 10vw;
}

.Colum2 {
    width: 20vw;
}

.Colum3 {
    width: 60vw;
}

.Colum4 {
    width: 10vw;
}

td img {
    width: 45px;
    height: 45px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
    border: 1px solid white;
}

ul h3 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
}

ul p {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 27px;
    text-align: justify;
}

tr a {
    color: white;
    text-decoration: none;
    display: block;
}

tr a:hover {
    color: yellow;
}







